<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">Application Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active" v-if="isLoggedIn">
                <router-link class="nav-link" to="/home">Home <span class="sr-only">(current)</span></router-link>
            </li>
            <li class="nav-item" v-if="!isLoggedIn">
                <router-link class="nav-link" to="/">Login</router-link>
            </li>
            <li class="nav-item" v-if="!isLoggedIn">
                <router-link class="nav-link" to="register">Register</router-link>
            </li>
            <li class="nav-item" v-if="isLoggedIn">
                <router-link class="nav-link" to="/profile">Profile</router-link>
            </li>
            <li class="nav-item logout" v-if="isLoggedIn">
                <a class="nav-link" @click="logoutUs()">Logout</a>
            </li>
            </ul>
        </div>
    </nav>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    computed: {
        ...mapGetters(['isLoggedIn'])
    },
    methods: {
        ...mapActions(['logout']),
        logoutUs() {
            this.logout();
        }
    }
}
</script>

<style scoped>
#nav a {
  font-weight: bold;
  color: #2c3e50;
}

.logout {
    cursor: pointer;
}

/*#nav a.router-link-exact-active {
  color: #42b983;
}*/
</style>