<template>
  <div id="app">
    <navbar></navbar>
    <errors v-if="error" :msg="error" />
    <router-view/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import navbar from './views/navbar/Nav.vue';
import errors from './views/error.vue';

  export default {
    components: { navbar, errors },
    data() {
      return {

      }
    },

    computed: {
      ...mapGetters(['error']),
    },
  }
</script>

<style>


</style>
