<template>
    <div class="card mt-3" style="width: 48rem; margin: auto;">
        <div class="card-header bg-info text-white">Login</div>
        <div class="card-body">
            <form @submit.prevent="signin()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" class="form-control" id="username" v-model="form.username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" v-model="form.password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    data() {
        return {
            form: {
                username: '',
                password: ''
            }
        }
    },

    methods: {
        ...mapActions(['login']),
        signin() {
            this.login(this.form).then( response => {
                console.log(response);
                if(response.data.success) {
                    this.$router.push('/profile');
                }
            }).catch(err => console.log(err));
        }
    }
}
</script>

<style scoped>

</style>