<template>
    <div>
        <h1>Profile dashboard Ohh Yeaah</h1>
        <h3>Welcome {{ user.name }}</h3>
        <h5>Your email is: {{ user.email }}</h5>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        return {
            
        }
    },

    computed: {
        ...mapGetters(['user'])
    },

    methods: {
        ...mapActions(['getProfile']),        
    },

    mounted() {
        this.getProfile();
    }
}
</script>

<style scoped>

</style>