<template>
    <div class="card mt-3" style="width: 48rem; margin: auto;">
        <div class="card-header bg-info text-white">Signup Form</div>
        <div class="card-body">
            <form @submit.prevent="signup()">
                <div class="form-group">
                    <label for="name">Nombre y apellido</label>
                    <input type="text" class="form-control" id="name" v-model="form.name" placeholder="Nombre y apellido">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" v-model="form.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" v-model="form.email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" v-model="form.password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" v-model="form.confirm_password" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-primary">Registrame</button>
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    data() {
        return {
            form: {
                name: '',
                username: '',
                email: '',
                password: '',
                confirm_password: ''
            }
        }
    },

    methods: {
        ...mapActions(['register']),

        signup() {
            this.register(this.form).then( response => {
                if(response.data.success) {
                    this.$router.push('/');
                }
            }).catch(err => console.log(err));
        }
    }
}
</script>

<style scoped>

</style>